.newdeck-container {
  width: 100vw;
  height: 100vh;
  padding: 6vh 4vh;

  display: flex;
  flex-direction: column;  
  align-items: center;  
}

/* Cards */

.newdeck-container h1 {
  width: 100%;
  height: 40px;
  padding-bottom: 10vh;
  text-align: center;
}

.newdeck-container .cards{
  width: 100%;
  padding: 0 1vw;
  
  display: flex;
  text-align: center;
  justify-content: center;
}

.newdeck-container .cards .card {
  padding: 0 1vw;
}

.newdeck-container ul li span {
  width: 100%;
  text-align: center;
  color: #ccc;
  font-size: 16px;
  font-weight: 700;
}

.newdeck-container ul li label {
  width: 7vw;
  height: 10vw;
  margin-top: 0.8vh;
  border: 1px dashed #ccc;
  border-radius: 8px;
  font-size: 30px;

  background-color: #385e42;

  display: flex;  
  justify-content: center;
  align-items: center;  
}


.newdeck-container ul li img {
  width: 7vw;
  height: 10vw;
  margin-top: 0.8vh;
  border-radius: 8px;
  font-size: 30px;


  display: flex;  
  justify-content: center;
  align-items: center;  
}

.newdeck-container ul li label:hover {
  filter: brightness(90%);
  cursor: pointer;
} 

/* rotation card */

.newdeck-container h2 {
  margin-top: 6vh;
  padding-bottom: 1vh;
  text-align: center;
}

/* submit button */

.newdeck-container .button {
  width: 50vh;
  margin-top: auto;
}




