.deckid-container {
    width: 100vw;
    height: 100vh;
    padding: 6vh 4vh;

    display: flex;
    flex-direction: column;  
}

.deckid-container h1 {
    width: 100%;
    padding-bottom: 5vh;
    text-align: center;
}

.deckid-container .cards{
    width: 100%;
    padding: 0 1vw;

    display: flex;
    text-align: center;
    justify-content: center;
}

.deckid-container .cards .card {
    padding: 0 1vw;
}

.deckid-container ul li span {
    width: 100%;
    text-align: center;
    color: #ccc;
    font-size: 16px;
    font-weight: 700;
}
  
 .deckid-container ul li img {
    width: 7vw;
    height: 10vw;
    margin-top: 0.8vh;
    border-radius: 8px;
    font-size: 30px;
  
  
    display: flex;  
    justify-content: center;
    align-items: center;  
}

.deckid-container h2 {
    text-align: left;
    padding-top: 5vh;
}



  
  
  
  