.back {
  width: 200px;
  height: 250px;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: white;
}

.pattern {
  width: 100%;
  height: 100%;
  width: 160px;
  height: 210px;
  border-radius: 5px;
  background: rgb(204, 51, 51);
  background:
  linear-gradient(115deg, transparent 75%, rgba(255,255,255,.8) 75%) 0 0,
  linear-gradient(245deg, transparent 75%, rgba(255,255,255,.8) 75%) 0 0,
  linear-gradient(115deg, transparent 75%, rgba(255,255,255,.8) 75%) 7px -15px,
  linear-gradient(245deg, transparent 75%, rgba(255,255,255,.8) 75%) 7px -15px,
  rgb(204, 51, 51);
  background-size: 15px 30px;
}