#modal-toggle {
  display: none;
}

.modal-content,
.modal-backdrop {
  opacity: 0;
  transition: all 0.3s ease-in-out;
  position: fixed;
  z-index: -1;
  overflow: hidden;
  cursor: pointer;
}

.modal-content {
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  text-align: center;
  height: 90%;
  width: 90%;
}

.modal-backdrop {
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
}

#modal-toggle:checked ~ .modal-backdrop {
  opacity: 1;
  z-index: 998;
  background-color: rgba(0, 0, 0, 0.5);
}

#modal-toggle:checked ~ .modal-content {
  opacity: 1;
  z-index: 999;
  background-color: #ccc;
  overflow: auto;
  pointer-events: auto;
  cursor: auto;
  border-radius: 8px;
  padding: 1.5vw;
}

#modal-toggle:checked ~ .modal-content p{
  color: rgb(65, 64, 64);
  margin-top: 1.5vh;
}

.modal-close-btn {
  cursor: pointer;

  display: block;
  float: right;
}
.modal-close-btn svg line {
  stroke-width: 4px;
  stroke: #000;
}
.modal-close-btn:hover svg {
  filter: opacity(60%)
}

.modal-container .cards{
  width: 100%;    
  display: flex;
  flex-wrap: wrap;
}
 
.modal-container .cards img {
  margin: 0.9vw 0.3vw;
  width: 6vw;
  height: auto;
  cursor: pointer;
}
  


