.input {
  border: 2px solid #bdc3c7;
  background-color: transparent;
  outline: none;
  padding: 10px 15px;
  border-radius: 6px;
  transition: all 0.3s ease-in-out;
}

.input:focus,
.input.filled {
  border-color: #1abc9c;
}
